$square-size: 200px;
$square-size-2x: 400px;

body {
  margin: 0;
}

.container {
  background-color: #EDF2F4;
  width: 80vw;
  margin: 0 auto;

  // white-space: nowrap;

  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
}

.content {
  display: inline-block;

  // float: left;
  margin: 0;
  top: 0;
  left: 0;
}

//width
.c-w2x {
  width: $square-size-2x;
}

.c-w1x {
  width: $square-size;
}

//height
.c-h2x {
  height: $square-size-2x;
}

.c-h1x {
  height: $square-size;
}

//color
.c-red {
  background-color: #EF233C;
}

.c-blue {
  background-color: #2D93AD;
}

.c-green {
  background-color: #00BFB2;
}
